/dts-v1/;

/include/ "tegra114.dtsi"

#include <tegra114-platforms/tegra114-molly-gpio-defaults.dtsi>
#include <tegra114-platforms/tegra114-molly-pinmux.dtsi>
#include <tegra114-platforms/tegra114-molly-powermon.dtsi>
/ {
	model = "Google Tegra114 Molly board";
	compatible = "google,molly", "nvidia,tegra114";
	nvidia,dtsfilename = __FILE__;

	host1x {
		hdmi {
			status = "okay";
		};
	};

	memory {
		reg = <0x80000000 0x40000000>;
	};

	serial@70006300 {
		status = "okay";
	};

    i2c@7000c000 {
        clock-frequency = <100000>;
		status = "okay";
	};

	i2c@7000c400 {
        clock-frequency = <400000>;
		nvidia,clock-always-on;
        status = "okay";
    };

	i2c@7000c500 {
        clock-frequency = <400000>;
        status = "okay";
	};

	i2c@7000c700 {
        clock-frequency = <10000>;
        status = "okay";
	};

	i2c@7000d000 {
        status = "okay";
        clock-frequency = <400000>;
    };

	pmc {
		nvidia,invert-interrupt;
	};

	spi3: spi@7000da00 {
        clock-frequency = <1500000>;
        status = "okay";
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock {
			compatible = "fixed-clock";
			reg=<0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};
};
